<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="com.SpringCore.Student" name="student1">
	 <!-- second way of declaring value-->
	<!-- <property name="StudentID" value="1220205"/>--> 
	 <property name="StudentID">
		 <value>1220205</value>
	 </property>
	 <property name="StudentName">
		 <value>Gourvi Gupta</value>
	 </property>
	 <property name="StudentAddress">
		 <value>Khizrabad</value>
	 </property>
	 
 </bean>
 <bean class="com.SpringCore.Student" name="student2" p:StudentID="1220205" p:StudentName="Kanika" p:StudentAddress="Pune"></bean>
</beans>